<h1><%= @user.username %></h1>


<% if session["user_id"] == @user.id %>
  <h2><%= @user.first_name %>  <%= @user.last_name %></h2>
<% end %>

<h3>Bio: </h3>
<p><%= @user.bio %></p>

<h3>Posts:</h3>
<ul>
  <% @user.posts.each do | post | %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<%# we need to:
find the identity of current user/ what id it is
session["user_id"]
compare that to user identity the page belongs to

if it matches, allow for user-specific actions %>
<% if session["user_id"] == @user.id %>
  <%= link_to "Edit", edit_user_path %>
<% end %>
