<h1><%= @post.title %></h1>
<h2>Uploaded by: <%= link_to @post.user.username, user_path(@post.user) %></h2>
<h4><%= link_to "Edit", edit_post_path %></h4>

<%# <% if @post.picture.attached? %>
  <%# <%= image_tag(@post.picture) %>
<%# <% else %>
<br>
  <%= image_tag(@post.img_url) %>
<br>
<%# <% end %> 

<h4>Description:</h4>
<p><%= @post.description %></p>

<h4>Tags:</h4>
<ul>
  <% @post.tags.each do | tag | %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
<br>
<% if current_user %>
  <%= link_to "Like", new_like_path, method: :post %>
<% end %>

<br>
<h4>Likes:</h4>
<ul>
  <% @post.likes.each do |like| %>
    <li> Liked by: <%= like.user.username %></li>
  <% end %>
</ul>
